body{

  margin:0;

  background:
  linear-gradient(rgba(245, 235, 220, 0.85), rgba(245, 235, 220, 0.85)),
  url("./assets/tatoo.png");

  background-size:cover;

  background-position:center;

  background-attachment:fixed;

  color:#1a1a1a;

  font-family:'Montserrat', sans-serif;
}

h1,h2{
  font-family:'Cinzel', serif;
}

h1{

  font-size:56px;

  letter-spacing:3px;

  margin-bottom:10px;

  text-align:center;

  font-weight: bolder;
}

.tagline{

  text-align:center;

  font-weight: bolder;
}

section{

  background:rgba(255,255,255,0.85);

  padding:30px;

  margin-bottom:40px;

  border-radius:10px;

  color:#111;

}

button{

  width:100%;

  padding:10px;

  margin-top:8px;

  background:black;

  color:white;

  border:none;

  cursor:pointer;

}

.gallery-grid{

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

  gap:20px;

}

.gallery-grid img{

  width:100%;

  height:220px;

  object-fit:cover;

  border-radius:10px;

  transition:0.3s;

}

.gallery-grid img:hover{

  transform:scale(1.05);

}

.artist-list{

  display:flex;

  gap:20px;

  flex-wrap:wrap;

}

.artist-card{

  background:white;

  padding:15px;

  width:200px;

  border-radius:10px;

}

.artist-card img{

  width:100%;

  height:180px;

  object-fit:cover;

  border-radius:8px;

}

.container{

  display:flex;

  gap:40px;

  padding:40px;

}

aside{

  background:#1a1a1a;

  color:white;

  padding:20px;

  border-radius:10px;

}

main{

  flex:1;

}

footer{

  background:#1a1a1a;

  color:white;

  padding:30px;

  text-align:center;

  margin-top:40px;

  border-top:3px solid #c9a77c;
}

@media(max-width:900px){

  .container{

    flex-direction:column;

  }

}
